Node-Red_Cód.JSON
[
    {
        "id": "452b67199b825a65",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf9b100f6c2e04f1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d9d2d607a4e6a71",
        "type": "ui_tab",
        "name": "Toggle Switch",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d653aaf4571b3b0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f918eeca64b18cdc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e90a3c1f82271042",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c517a52acbb5e04b",
        "type": "ui_group",
        "name": "Default",
        "tab": "e90a3c1f82271042",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e30a9ee8ff2a88f",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdc9bf4e4148f6be",
        "type": "ui_group",
        "name": "ThinkIot",
        "tab": "1e30a9ee8ff2a88f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "00dd36a7468d16a7",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Phone"
    },
    {
        "id": "1075cdc5dccefc91",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "BD",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "156613405486d359",
        "type": "ui_button",
        "z": "452b67199b825a65",
        "name": "",
        "group": "cdc9bf4e4148f6be",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Abre",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "9255ad33faf42d68",
                "1bafae2bdea1c606"
            ]
        ]
    },
    {
        "id": "da9c6c828615043b",
        "type": "ui_button",
        "z": "452b67199b825a65",
        "name": "",
        "group": "cdc9bf4e4148f6be",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fecha",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "100",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "9255ad33faf42d68",
                "1bafae2bdea1c606"
            ]
        ]
    },
    {
        "id": "1bafae2bdea1c606",
        "type": "mqtt out",
        "z": "452b67199b825a65",
        "name": "",
        "topic": "/ThinkIOT/Servo-mackenzie",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f918eeca64b18cdc",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "9255ad33faf42d68",
        "type": "join",
        "z": "452b67199b825a65",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "38bdc7e75caa2b65"
            ]
        ]
    },
    {
        "id": "38bdc7e75caa2b65",
        "type": "function",
        "z": "452b67199b825a65",
        "name": "function 1",
        "func": "var mensagem1 = msg.payload[0];\nvar mensagem2 = msg.payload[1];\n\nif (mensagem1 == 0) {\n    msg.payload = \"O alimentador foi fechado\"\n} else{\n    msg.payload = \"O alimentador foi aberto\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "b51b5017b67fd790",
                "b67d686ac932c46c"
            ]
        ]
    },
    {
        "id": "b51b5017b67fd790",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "452b67199b825a65",
        "name": "",
        "credtype": "account",
        "account": "00dd36a7468d16a7",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "6d443f822e4c22cb"
            ]
        ]
    },
    {
        "id": "6d443f822e4c22cb",
        "type": "debug",
        "z": "452b67199b825a65",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "b67d686ac932c46c",
        "type": "influxdb out",
        "z": "452b67199b825a65",
        "influxdb": "1075cdc5dccefc91",
        "name": "",
        "measurement": "Feeding",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Objetos_Conectados",
        "bucket": "AlimentadorAutomaticoPasta",
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "1eaa34e7720207e1",
        "type": "mqtt in",
        "z": "452b67199b825a65",
        "name": "",
        "topic": "/ThinkIOT/Servo-mackenzie",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f918eeca64b18cdc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "b67d686ac932c46c"
            ]
        ]
    }
]
